# Django
SECRET_KEY=django-insecure-8x9y7z6w5v4u3t2s1r0q9p8o7n6m5l4k3j2i1h0g9f8e7d6c5b4a3
DEBUG=0
ALLOWED_HOSTS=localhost,127.0.0.1

# Database (для Docker)
DB_NAME=lms_db
DB_USER=lms_user
DB_PASSWORD=lms_password
DB_HOST=db
DB_PORT=5432

# Redis (для Docker)
REDIS_HOST=redis
REDIS_PORT=6379

# Stripe
STRIPE_API_KEY=your_stripe_api_key
STRIPE_WEBHOOK_SECRET=your_webhook_secret

# Telegram
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_BOT_URL=https://api.telegram.org/bot

# PgAdmin (для разработки)
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin